<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE2OEChV_02i_ZLs3DBT9IYkLkTkpnx4k</string>
	<key>GCM_SENDER_ID</key>
	<string>435411326797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emptyApplication</string>
	<key>PROJECT_ID</key>
	<string>empty-project-f194b</string>
	<key>STORAGE_BUCKET</key>
	<string>empty-project-f194b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435411326797:ios:b9948ed1ba46c92a058904</string>
</dict>
</plist>